In [ ]:
# Open AI
# from langchain.llms import OpenAI
# llm = OpenAI(temperature=0)

In [ ]:
# Google VertexAI
from googleVertexLLM import googleVertexAILLM
llm = googleVertexAILLM()

In [ ]:
from CQLDatabaseChain import CQLDatabase, CQLDatabaseChain

In [ ]:
from cqlsession import getCqlSession

In [ ]:
astraSession = getCqlSession()

In [ ]:
db = CQLDatabase(
    astraSession,
    'pqdemo',
    ignore_tables = ['base_types', 'coll_test', 'w_counter', 'pqdata'],
#     include_tables = ['people', 'w_counter'],
)

In [ ]:
db_chain = CQLDatabaseChain.from_llm(llm, db, verbose=True)

In [ ]:
# db_chain.run("How many people live in milan?")
# db_chain.run("Are there people living in milan ?")
# db_chain.run("Are there folks living in barcelona ?")
# db_chain.run("What is the average temperature on Saturn ?")

db_chain.run("are there people in milan older than 10 years?")

# Sequential chain (fancy name for: first find the table, then query it)

In [ ]:
from CQLDatabaseChain import CQLDatabaseSequentialChain

In [ ]:
chain = CQLDatabaseSequentialChain.from_llm(llm, db, verbose=True)

In [ ]:
chain.run("How many people live in thebigcity?")